
@media (min-width:760px) {
    .login-header{
        background-color: #25426c;
        color: #ffffff;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        border-style: solid;
        border-color:#25426c;
    }
    
    /* ログイン情報追加モーダル */
    .modal-xl {
        margin:2% 15%;
    }
    .modal-header {
        background-color: #312D2C;
    }
    .modal-title{
        color: #ffffff;
    }
    
    .modal-body{
        padding:30px 30px 0px 30px;
    }
    
    .form-input {
        border: 1px solid #c3c3c3;
        width:100%;
    }
    
    .modal-footer
    {
        text-align: right;
        padding-top:10px;
        padding-bottom:10px;
    }
    
    .modal-title {
        background-color:#312D2C;
    }
    
    .modal-content{
        border-radius: 1rem;
    }
    
    .modal-content .row{
        margin-bottom:10px;
    }
    
    
    /* ログイン情報編集 */
    .user-update{
        padding: 30px 10px 30px 10px;
    }
    .update-btn{
        text-align: center;
    }
    .btn {
        margin-top:3px;
        margin-bottom:3px;
    }
    
    
    /* レジュメ一覧 */
    
    .list-title{
        margin-bottom: 10px;
    }
    
    .list-title h4{
        font-weight: bold;
        color: #25426c;
    }
    
    .add-user{
        text-align: right;
    }
    
    .btn--orange,
    a.btn--orange {
      font-size: 15px;
      color: #fff;
      background-color: #626263;
      border-radius: 9999px;
      height:   35px;
      width: 100px;
    }
    .btn--orange:hover,
    a.btn--orange:hover {
      color: #fff;
      background: #25426c;
    }
    
    .user-count{
        text-align: right;
        margin-bottom:-10px;
        margin-top:5px;
    }
    .user-count p{
        font-size: 12px;
    }
    
    .user-list{
        width: 100%;
    }
    
    .list-table {
        margin:auto;
        width: 100%;
        font-size: 1rem;
    }
    
    .td, a{
        color:#203335;
    }
    table tr{
        border: none;
        height: 32px;
    }
    
    .user-list tr:nth-child(odd){
        background-color: rgb(219, 219, 221);
    }
    .list-no{
        width: 10%;
        text-align: center;
    }
    .list-department{
        width: 25%;
        text-align: center;
    }
    .list-name{
        text-align: center;
    }
    .list-detail{
        width: 10%;
        text-align: center;
    }
    .list-update{
        width: 10%;
        text-align: center;
    }
    .list-delete{
        width: 10%;
        text-align: center;
    }
    
    .list-pagi{
        margin-top: 10px;
    }
    
    .pagination{
        justify-content: center;
    }
    
    
    /* menu */
    
    .menu{
        width: 400px;
        height:100%;
        background-color: #25426c;
        position: fixed;
        top:0;
    }
    
    .left-menu{
        margin:30px;
    }
    
    .left-menu1{
        width:400px;
    }
    
    .menu-list{
        color: #fff;
        margin-bottom: 20px;
        width:350px;
    }
    
    .left-menu,hr{
        border-color: #fff;
    }
    .left-menu a{
        color:#fff;
    }
    
    .menu-text{
        margin-left:30px;
        margin-top:20px;
        margin-bottom: 20px;
    }
    
    .top-menu{
        display: none;
    }
    
    
    /* 全体 */
    
    .list-main{
        width: 1000px;
        background-color: #f6f6f6;
        margin-left:400px;
    }
    .list {
        margin: 55px;
    }
    
    .main{
        min-height: 100vh;
        display: flex;
        background-color: #f6f6f6;
    }
    
    
    /* スキルマスタ */
    
    .skill-main{
        padding:60px;
        line-height:50px;
    
    }
    
    .skill-list{
        width:600px;
        margin:auto;
    }
    
    .button-list{
        margin-bottom:10px;
    }
    
    .skill-add{
        width: 600px;
        display: flex;
        /* padding:0 0 5px 30px; */
        margin: auto;
        padding-bottom: 5px;
    }
    
    .skill-add-btn{
        width:40px;
        margin-right: 5px;
    }
    
    .save-btn{
        margin-left: auto;
    }
    
    .skill-title{
        font-weight: bold;
        text-align: center;
        background-color: #DBDBDD;
    }
    .skill-no{
        text-align: center;
        width:80px;
    }
    .skill-name{
        padding: 0 0 0 15px;
    }
    .skill-update{
        text-align: center;
        width:110px;
    }
    
    .skill .color1:nth-child(8n+2),
    .skill .color1:nth-child(8n+5){
        background-color: #F6F6F6;
    }
    .skill .color1:nth-child(8n+1),
    .skill .color1:nth-child(8n+6){
        background-color: #DBDBDD;
    }
    
    .belongs tr:nth-child(odd){
        background-color: rgb(219, 219, 221);
    }
    
    
    
    }
    
    
    
    
    
    
    
    
    
    
    /* SP */
    
    @media (max-width:760px) {
    .login-header{
        background-color: #25426c;
        color: #ffffff;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        border-style: solid;
        border-color:#25426c;
    }
        
    /* title */
    .list-title {
        margin: 30px;
    }
    .list-title h4{
        font-weight: bold;
        color: #25426c;
    }
    
    
    
    /* list */
    .list-table{
        margin: 20px;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    table tr{
        border: none;
    }
    table tr:nth-child(odd){
        background-color: #eee;
    }
    .add-user{
        display: none;
    }
    .list-no{
        width: 5%;
        text-align: center;
    }
    .list-department{
        width: 30%;
        text-align: center;
    }
    .list-name{
        text-align: center;    
    }
    .list-update {
        display: none;
    }
    .list-delete {
        display: none;
    }
    
    
    
    /* 全体 */
    .main {
        display: block;
        background-color: #f6f6f6
    }
    
    
    
    /* ページネーション */
    /* .list-pagi{
        margin-bottom:20px;
    } */
    .pagination{
        justify-content: center;
        margin-right: 20px;
    }
    
    
    
    /* メニューバー */
    
    .left-menu{
        display: none;
    }
    .top-menu{
        height:50px;
        background-color: #25426c;
    }
    .menu-list{
        height:40px;
        background-color: #25426c;
        text-align: right;
    }
    .menu-text{
        color: #fff;
        margin-right: 10px;
    }
    
    
    
    /*　ハンバーガーボタン　*/
    .hamburger {
        display : block;
        position: fixed;
        z-index : 3;
        right : 5px;
        top   : 5px;
        width : 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;
      }
      .hamburger span {
        display : block;
        position: absolute;
        width   : 30px;
        height  : 2px ;
        left    : 6px;
        background : #fff;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition   : 0.3s ease-in-out;
        transition        : 0.3s ease-in-out;
      }
      .hamburger span:nth-child(1) {
        top: 10px;
      }
      .hamburger span:nth-child(2) {
        top: 20px;
      }
      .hamburger span:nth-child(3) {
        top: 30px;
      }
      
      /* ナビ開いてる時のボタン */
      .hamburger.active span:nth-child(1) {
        top : 16px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
      }
      
      .hamburger.active span:nth-child(2),
      .hamburger.active span:nth-child(3) {
        top: 16px;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
      }
      
      nav.globalMenuSp {
        position: fixed;
        z-index : 2;
        top  : 0;
        left : 0;
        color: #000;
        background: #fff;
        text-align: center;
        transform: translateY(-100%);
        transition: all 0.6s;
        width: 100%;
      }
      
      nav.globalMenuSp ul {
        background: #25426C;
        margin: 0 auto;
        padding: 0;
        width: 100%;
      }
      
      nav.globalMenuSp ul li {
        list-style-type: none;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #fff;
      }
      nav.globalMenuSp ul li:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
      nav.globalMenuSp ul li:hover{
        background :#4e6b94;
      }
      
      nav.globalMenuSp ul li a {
        display: block;
        color: #fff;
        padding: 1em 0;
        text-decoration :none;
      }
      
      /* このクラスを、jQueryで付与・削除する */
      nav.globalMenuSp.active {
        transform: translateY(0%);
      }
    
    }
    
    
    /* ページネーション */
    .page-item.active .page-link{
        background-color: #25426C;
        border-color: #25426C;
    }
    
    /* listエラー文 */
    .alertarea {
        color: red;
        background-color: #fee;
        background-repeat: no-repeat;
        background-position: 0.35em center;
        display: inline-block;
        border-radius: 0.5em;
        padding: 1px 0.5em 1px 2px;
     }
    .alertarea:empty { display: none; }
    
    
    /*タブ切り替えの中身のスタイル*/
    .tab_content {
        display: none;
        clear: both;
        overflow: hidden;
      }
      
      /*選択されているタブのコンテンツのみを表示*/
      #basic_info:checked ~ #basic_info_content,
      #career_list:checked ~ #career_list_content {
        display: block;
      }
      
      /*選択されているタブのスタイルを変える*/
      .datail_tabs input:checked + .tab_item {
        background-color: #25426c;
        color: white;
      }
    /*タブ切り替え全体のスタイル---END*/
    
    body {
        font-family: 'メイリオ', 'Meiryo', sans-serif ;
    }