/* 案件希望入力 */
.condition_self_table tr:first-child th,
.condition_manager_table tr:first-child th{
    border-top: 1px solid #343a40;
}

.condition_radio_table td,
.condition_self_table tr:last-child th,
.condition_manager_table tr:last-child th,
.condition_self_table tr:last-child td,
.condition_manager_table tr:last-child td{
    border-bottom: 1px solid #343a40;
}

.condition_radio_table th{
    border-top: 1px solid #343a40 !important;
    border-bottom: 1px solid #343a40 !important; 
}



.condition_radio_table th,
.condition_self_table th,
.condition_manager_table th{ 
    background-color: #3e3838;
    color: white;
    width: 24%;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #343a40;
    border-right: 1px solid #343a40;
}

.condition_radio_table td,
.condition_self_table td,
.condition_manager_table td{
    padding: 0.5rem;
    border-right: 1px solid #343a40;
    border-top: 1px solid #343a40;
    vertical-align: top;
}

.condition_radio_table td{
    width: 38%;
}

.priority_condition_row td,
.plus_condition_row td {
    width: 38%;
    height: 64px;
}

.remarks_row td,
.condition_addition_row td,
.transmission_row td,
.goal_data {
    width: 100%;
    height: 64px;
}

.reason_data,
.condition_reason_row td {
    width: 100%;
    height: 134px;
}

input[name=priority_condition_radio],
input[name=plus_condition_radio] {
    transform: scale(1.3);
    margin: 0px 8px 0 0;
}

.condition_radio_area{
    margin: 2px 0 0 0;
}

.priority_condition_row span,
.plus_condition_row span,
.remarks_row span,
.condition_addition_row span,
.transmission_row span {
    display: block;
    width: 100%;
}

.condition_reason_row span,
.career_path_row span {
    display: block;
    width: 100%;
}

.priority_condition_row textarea,
.plus_condition_row textarea,
.remarks_row textarea,
.condition_addition_row textarea,
.transmission_row textarea {
    display: none;
    width: 100%;
    height: 100%;
}

.condition_reason_row textarea,
.goal_data textarea,
.reason_data textarea {
    display: none;
    width: 100%;
    height: 100%;
}

#condition_self_bt_save_area,
#condition_manager_bt_save_area{
    display: none;
}

@media screen and (max-width: 760px) {
    .condition_radio_table,
    .condition_self_table,
    .condition_manager_table,
    .condition_radio_table tbody,
    .condition_self_table tbody,
    .condition_manager_table tbody,
    .condition_radio_table tr,
    .condition_self_table tr,
    .condition_manager_table tr,
    .condition_radio_table th,
    .condition_self_table th,
    .condition_manager_table th,
    .condition_radio_table td,
    .condition_self_table td,
    .condition_manager_table td{ 
        display: block;
        width: 100%;
    }
    
    .priority_condition_row td,
    .plus_condition_row td,
    .remarks_row td,
    .condition_addition_row td,
    .transmission_row td,
    .goal_data,
    .reason_data,
    .condition_reason_row td {
        height: auto;
    }
}